.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

.venv/
env/
venv/
*.egg-info/
*.log

.ipynb_checkpoints/

.vscode/
.idea/

*.ckpt
*.safetensors
*.pt
*.pth
*.bin
*.tar
*.npz

models/
model/
checkpoint/
checkpoints/
outputs/

# ControlNet 临时文件
image_log/
*image_log*/

*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.webp

tiles/
dataset/
data/
*source*/
*target*/
*train*/
*val*/
*test*/
qkv/
*.npy


wandb/
tensorboard/
runs/


.qgis2/
.qgis3/
*.aux.xml


tmp/
temp/
cache/
